@{
    // Categorías
}

<div class="mb-3">
    <h5 class="mb-2">Categorías:</h5>
    <div class="d-flex flex-wrap gap-2" id="categories">
        <!-- Categorías cargadas dinámicamente -->
    </div>
</div> 